.post_card {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 4rem;
    flex-shrink: 0;


    .top {
        background-color: grey;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {}
    }

    .bottom {
        background-color: white;
        padding: 1rem;

        h3,
        p {
            margin-bottom: 1rem;
        }

        .tags {}

        .html {
            color: green;
        }

        .css {
            color: blue;
        }

        .js {
            color: red;
        }

        .php {
            color: orange;
        }
    }
}